node_modules
dist
build
coverage
.vscode
*.min.js
apps/nebula-chat-client/build
apps/nebula-chat-server/dist
apps/nebula-chat-server/node_modules
apps/nebula-chat-server/src/generated
apps/nebula-chat-server/prisma/migrations

*.log
*.lock
*.env

.github/
**/.github/**
*.yml

package.json

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml

CHANGELOG.md
README.md
