name: Trigger auto deployment for nebula-chat

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/nebula-chat-AutoDeployTrigger-21729520-fedc-48d8-acbb-8d18919ec0c7.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.NEBULACHAT_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.NEBULACHAT_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.NEBULACHAT_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: nebulachatregistry.azurecr.io
          registryUsername: ${{ secrets.NEBULACHAT_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.NEBULACHAT_REGISTRY_PASSWORD }}
          containerAppName: nebula-chat
          resourceGroup: nebula-chat-rg
          imageToBuild: nebulachatregistry.azurecr.io/nebula-chat:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


